*
{
    font-family: "Verdana" sans-serif;
}

.form
{
    box-shadow: 0 0 1px 0;
    position: relative;
    margin: 50px auto 50px auto;
    padding: 30px 30px 20px 30px;
    text-align: center;
    max-width: 320px;
}

.form input
{
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 20px;
    width: 100%;
    background: #d2d2d2;
}

.form button
{
    background: #ff4d4d;
    border: 0;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    padding: 20px;
    width: 100%;
}

.form button:active
{
    background: #dd0066;
}